<h4>&lt;vaadin-combo-box&gt;</h4>
<div>Selected (Angular): {{comboSelected}}</div>
<vaadin-combo-box [items]="items | async" item-value-path="email" item-label-path="email"
    emitChanges ironControl [(ngModel)]="comboSelected">
  <template [polymer]="this" ngNonBindable>
    <paper-icon-item on-click="contextMenuAlert">
      <img src="[[item.picture.thumbnail]]" item-icon>
      <paper-item-body two-line>
        <div>[[item.name.first]] [[item.name.last]]</div>
        <div secondary>[[item.email]]</div>
      </paper-item-body>
    </paper-icon-item>
  </template>
</vaadin-combo-box>

<h4>&lt;vaadin-context-menu&gt;</h4>
<vaadin-context-menu>
  <template [polymer]="this">
    <paper-listbox ngNonBindable>
      <paper-item data-id="1" on-click="contextMenuAlert">First menu item</paper-item>
      <paper-item data-id="2" on-click="contextMenuAlert">Second menu item</paper-item>
    </paper-listbox>
  </template>

  <p>This paragraph has the context menu provided in the above template.</p>
  <p>Another paragraph with the context menu.</p>
</vaadin-context-menu>

<h4>&lt;vaadin-date-picker&gt;</h4>
<input type="date" [(ngModel)]="date" />
<vaadin-date-picker emitChanges ironControl [(ngModel)]="date"></vaadin-date-picker>

<h4>&lt;vaadin-grid&gt;</h4>
<label>Select All (Two-Way binding not working...)</label>
<input type="checkbox" [(ngModel)]="gridSelectAll" />
<vaadin-grid [items]="items | async" id="material" size="200">
  <dom-bind [selectAll]="gridSelectAll">
    <template ngNonBindable>
      <vaadin-grid-selection-column select-all="{{selectAll}}" width="66px" flex="0">
        <template class="header">
          <paper-checkbox checked="{{selectAll}}"></paper-checkbox>
        </template>
        <template>
          <paper-checkbox checked="{{selected}}"></paper-checkbox>
        </template>
      </vaadin-grid-selection-column>
    </template>
  </dom-bind>

  <vaadin-grid-column width="100px" flex="0">
    <template class="header">
      <div class="cell">Name</div>
    </template>
    <template>
      <div class="cell">[[item.name.first]]</div>
    </template>
  </vaadin-grid-column>

  <vaadin-grid-column flex="2">
    <template class="header">
      <div class="cell">Email</div>
    </template>
    <template>
      <div class="cell">[[item.email]]</div>
    </template>
  </vaadin-grid-column>

  <vaadin-grid-column>
    <template class="header">
      <vaadin-grid-sorter path="location.city">
        <div class="cell">
          <span>City</span><iron-icon icon="icons:arrow-upward"></iron-icon>
        </div>
      </vaadin-grid-sorter>
    </template>
    <template>
      <div class="cell">[[item.location.city]]</div>
    </template>
  </vaadin-grid-column>

  <vaadin-grid-column width="100px" flex="0">
    <template class="header">
      <div class="cell numeric last">Zip Code</div>
    </template>
    <template>
      <div class="cell numeric last">[[item.location.postcode]]</div>
    </template>
  </vaadin-grid-column>

</vaadin-grid>
<h4>&lt;vaadin-split-layout&gt;</h4>
<vaadin-split-layout>
  <vaadin-split-layout vertical>
    <div>First layout content</div>
    <div>Second layout content</div>
  </vaadin-split-layout>
  <vaadin-split-layout vertical>
    <div>Third layout content</div>
    <div>Fourth layout content</div>
  </vaadin-split-layout>
</vaadin-split-layout>
