vaadin-combo-box,
vaadin-date-picker {
  width: 300px;
}

vaadin-split-layout {
  background: #eee;
  width: 100%;
  height: 256px;
}

vaadin-split-layout > div {
  padding: 16px;
}

/* See https://cdn.vaadin.com/vaadin-grid/2.0.2/demo/styling.html */
vaadin-grid#material {

  font-family: Roboto, sans-serif;
  --divider-color: rgba(0, 0, 0, var(--dark-divider-opacity));

  --vaadin-grid-cell: {
    padding: 0;
  };

  --vaadin-grid-header-cell: {
    height: 64px;
    color: rgba(0, 0, 0, var(--dark-secondary-opacity));
    font-size: 12px;
  };

  --vaadin-grid-body-cell: {
    height: 48px;
    color: rgba(0, 0, 0, var(--dark-primary-opacity));
    font-size: 13px;
  };

  --vaadin-grid-body-row-hover-cell: {
    background-color: var(--paper-grey-200);
  };

  --vaadin-grid-body-row-selected-cell: {
    background-color: var(--paper-grey-100);
  };

  --vaadin-grid-focused-cell: {
    box-shadow: none;
    font-weight: bold;
  };
}

vaadin-grid#material .cell {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 56px;
}

vaadin-grid#material .cell.last {
  padding-right: 24px;
}

vaadin-grid#material .cell.numeric {
  text-align: right;
}

vaadin-grid#material paper-checkbox {
  --primary-color: var(--paper-indigo-500);
  margin: 0 24px;
}

vaadin-grid#material vaadin-grid-sorter {
  --vaadin-grid-sorter-arrow: {
    display: none !important;
  };
}

vaadin-grid#material vaadin-grid-sorter .cell {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

vaadin-grid#material vaadin-grid-sorter iron-icon {
  transform: scale(0.8);
}

vaadin-grid#material vaadin-grid-sorter:not([direction]) iron-icon {
  color: rgba(0, 0, 0, var(--dark-disabled-opacity));
}

vaadin-grid#material vaadin-grid-sorter[direction] {
  color: rgba(0, 0, 0, var(--dark-primary-opacity));
}

vaadin-grid#material vaadin-grid-sorter[direction=desc] iron-icon {
  transform: scale(0.8) rotate(180deg);
}
