html {
  /*
    Fun quirk with polymer-webpack-loader.

    The loader will load and add <custom-style> elements to the body of the document instead of the
    head. Angular will load its styles in the <head>. So our app.component.css styles are actually
    at a lower specificity.

    We can fix this a few ways:

    1. Use !important (ew, but effective)
    2. Delay the loading of <paper-styles>. This is easy to do if you lazy load your components.
    3. Use higher specificity, such as "html[s] {}" with an attribute or class to give this rule
       block higher specificity. This works in native CSS property browsers, but breaks in ShadyCSS.
       (see https://github.com/webcomponents/shadycss/issues/75)
  */
  @apply --paper-font-body1;

  --primary-color: var(--paper-deep-purple-500) !important;
  --primary-light-color: var(--paper-deep-purple-100) !important;
  --primary-dark-color: var(--paper-deep-purple-700) !important;

  --accent-color: var(--paper-amber-a200 !important);
  --accent-light-color: var(--paper-amber-a100) !important;
  --accent-dark-color: var(--paper-amber-a400) !important;
}

[primary] {
  color: var(--primary-color);
}

[accent] {
  color: var(--accent-color);
}

h1 {
  @apply --paper-font-display1;
}

h2 {
  @apply --paper-font-headline;
}

h3 {
  @apply --paper-font-title;
}

h4 {
  @apply --paper-font-subhead;
}

h5 {
  @apply --paper-font-body2;
}

h6 {
  @apply --paper-font-caption;
}

app-header {
  @apply --shadow-elevation-4dp;

  background: var(--primary-color);
  color: var(--dark-theme-text-color);
}

paper-tabs {
  --paper-tabs-selection-bar-color: var(--accent-color);
  --paper-tab-ink: var(--accent-color);
}
