<app-header-layout fullbleed>
  <app-header slot="header" condenses fixed>
    <app-toolbar>
      <div main-title>Origami</div>
    </app-toolbar>
    <paper-tabs sticky [selected]="selectedTab"
        (selected-changed)="selectedTab = $event.detail.value">
      <paper-tab>Kitchen Sink</paper-tab>
      <paper-tab>Features</paper-tab>
    </paper-tabs>
  </app-header>

  <div>
    <div *ngIf="selectedTab === 0" padding-horizontal>
      <h1>Kitchen Sink</h1>
      <h3>Vaadin Elements</h3>
      <app-vaadin></app-vaadin>

      <h3>Elements Defined in Angular Project</h3>
      <div>
        <label>Angular Model</label>
        <input [(ngModel)]="model">
      </div>
      <angular-polymer [model]="model"
          (model-changed)="model = $event.detail.value"></angular-polymer>
    </div>
    <app-features *ngIf="selectedTab === 1"></app-features>
  </div>
</app-header-layout>
