/*
Angular CLI stylesheets will be linked as external stylesheets in production builds.
Avoid using @apply mixins (and custom CSS variables if targeting browsers that do not support them)
in these stylesheets. They will not be <custom-style> wrapped, which means ShadyCSS will not apply
the variables/mixins correctly.
 */
[padding] {
  padding: 16px;
}

[padding-horizontal] {
  padding: 0 16px;
}

[padding-vertical] {
  padding: 16px 0;
}

[padding-top] {
  padding-top: 16px;
}

[padding-right] {
  padding-right: 16px;
}

[padding-bottom] {
  padding-bottom: 16px;
}

[padding-left] {
  padding-left: 16px;
}
